section>header>h1{
  font-family: 'Staatliches', cursive;
  font-size:60px;
  color: green;
  text-shadow: 0 0 0.2em #8F7
}
body>header>h1{
  font-family: 'Coiny', cursive;
  font-size:60px;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em orange
 
}
 

article>h1{
  font-family: 'Staatliches', cursive;
  font-size:30px;
color:red;
  text-shadow: white 0.2em 0.2em 0.1em
}


